In [112]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction import DictVectorizer

In [113]:
df = pd.read_csv('result.csv')
df

     first_name       last_name             full_name last_name_group  gender
0         Quỳnh  Nguyễn Thị Như  Nguyễn Thị Như Quỳnh          Nguyễn     NaN
1          Quân        Lê Hoàng         Lê Hoàng Quân              Lê     NaN
2        Phượng        Đinh Văn       Đinh Văn Phượng            Đinh     NaN
3        Samuel    Nguyễn Echam   Nguyễn Echam Samuel          Nguyễn     NaN
4          Sang     Nguyễn Xuân      Nguyễn Xuân Sang          Nguyễn     NaN
...         ...             ...                   ...             ...     ...
8752        Thi        Lê Thiên          Lê Thiên Thi              Lê     NaN
8753      Thành        Phan Tấn        Phan Tấn Thành            Phan     NaN
8754      Thành      Nguyễn Thế      Nguyễn Thế Thành          Nguyễn     NaN
8755      Thanh   Trần Thành Vi   Trần Thành Vi Thanh            Trần     NaN
8756       Thảo     Nguyễn Mạnh      Nguyễn Mạnh Thảo          Nguyễn     NaN

[8757 rows x 5 columns]

In [114]:
import random

gender1 = ['F','M']
df['gender'] = np.random.choice(gender1, df.shape[0])

In [115]:
df

     first_name       last_name             full_name last_name_group gender
0         Quỳnh  Nguyễn Thị Như  Nguyễn Thị Như Quỳnh          Nguyễn      M
1          Quân        Lê Hoàng         Lê Hoàng Quân              Lê      M
2        Phượng        Đinh Văn       Đinh Văn Phượng            Đinh      M
3        Samuel    Nguyễn Echam   Nguyễn Echam Samuel          Nguyễn      M
4          Sang     Nguyễn Xuân      Nguyễn Xuân Sang          Nguyễn      M
...         ...             ...                   ...             ...    ...
8752        Thi        Lê Thiên          Lê Thiên Thi              Lê      F
8753      Thành        Phan Tấn        Phan Tấn Thành            Phan      F
8754      Thành      Nguyễn Thế      Nguyễn Thế Thành          Nguyễn      M
8755      Thanh   Trần Thành Vi   Trần Thành Vi Thanh            Trần      M
8756       Thảo     Nguyễn Mạnh      Nguyễn Mạnh Thảo          Nguyễn      M

[8757 rows x 5 columns]

In [116]:
df.drop(['last_name', 'last_name_group','full_name'], axis=1, inplace=True)

In [117]:
df

     first_name gender
0         Quỳnh      M
1          Quân      M
2        Phượng      M
3        Samuel      M
4          Sang      M
...         ...    ...
8752        Thi      F
8753      Thành      F
8754      Thành      M
8755      Thanh      M
8756       Thảo      M

[8757 rows x 2 columns]

In [139]:
def features(name):
    name = name.lower()
    return {
        'first-letter': name[0], # First letter
        'first2-letters': name[0:2], # First 2 letters
        'first3-letters': name[0:3], # First 3 letters
        'last-letter': name[-1],
        'last2-letters': name[-2:],
        'last3-letters': name[-3:],
    }

In [140]:
features = np.vectorize(features)

In [141]:
df_X = features(df_names['first_name'])

In [142]:
df_y = df_names['gender']

In [124]:
Xfeatures =df_names['first_name']

In [143]:
from sklearn.feature_extraction import DictVectorizer
 
corpus = features(["Mike", "Julia"])
dv = DictVectorizer()
dv.fit(corpus)
transformed = dv.transform(corpus)
print(transformed)

  (0, 1)	1.0
  (0, 3)	1.0
  (0, 5)	1.0
  (0, 7)	1.0
  (0, 9)	1.0
  (0, 10)	1.0
  (1, 0)	1.0
  (1, 2)	1.0
  (1, 4)	1.0
  (1, 6)	1.0
  (1, 8)	1.0
  (1, 11)	1.0

In [153]:
X_train, X_test, y_train, y_test = train_test_split(df_X, df_y, test_size=0.3) # 70% training and 30% test

In [155]:
from sklearn.ensemble import RandomForestClassifier

#Create a Gaussian Classifier
dclf=RandomForestClassifier()
my_xfeatures =dv.transform(X_train)
dclf.fit(my_xfeatures, y_train)

y_pred = dclf.predict(dv.transform(X_test))

In [156]:
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.4996194824961948

In [130]:
df_y = df_names['gender']

In [135]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(df_X, df_y, test_size=0.2)

In [136]:
clf.fit(X_train, Y_train)

ValueError: could not convert string to float: 'Phúc'

In [132]:
dfX_train, dfX_test, dfy_train, dfy_test = train_test_split(df_X, df_y, test_size=0.33, random_state=42)

In [42]:
dv = DictVectorizer()
dv.fit_transform(dfX_train)

<5867x1044 sparse matrix of type '<class 'numpy.float64'>'
	with 35202 stored elements in Compressed Sparse Row format>

In [137]:
df_X = features(df_names['first_name'])
df_y = df_names['gender']

In [43]:
from sklearn.tree import DecisionTreeClassifier
 
dclf = DecisionTreeClassifier()
my_xfeatures =dv.transform(dfX_train)
dclf.fit(my_xfeatures, dfy_train)

DecisionTreeClassifier()

In [96]:
sample_name_eg = ["Thị"]
transform_dv =dv.transform(features(sample_name_eg))

In [97]:
vect3 = transform_dv.toarray()

In [98]:
dclf.predict(vect3)

array([1])

In [99]:
if dclf.predict(vect3) == 0:
    print("Female")
else:
    print("Male")

Male

In [143]:
sample_name_eg = ["Đạt"]
transform_dv =dv.transform(features(sample_name_eg))

In [144]:
vect3 = transform_dv.toarray()

In [145]:
dclf.predict(vect3)

array([1])

In [146]:
if dclf.predict(vect3) == 0:
    print("Female")
else:
    print("Male")

Male

In [147]:
def genderpredictor1(a):
    test_name1 = [a]
    transform_dv =dv.transform(features(test_name1))
    vector = transform_dv.toarray()
    if dclf.predict(vector) == 0:
        print("Female")
    else:
        print("Male")

In [148]:
random_name_list = ["Minh","Duy","Khoa","Hồng","Quang","Hiển"]

In [149]:
for n in random_name_list:
    print(genderpredictor1(n))

Male
None
Female
None
Female
None
Female
None
Female
None
Female
None

In [150]:
print(dclf.score(dv.transform(dfX_train), dfy_train))

0.6057610363047554

In [151]:
print(dclf.score(dv.transform(dfX_test), dfy_test))

0.4972318339100346